%form.card{:action => "/checkout/", :method => "POST"}
  %input{:type => "hidden", :value => "trelloIdString"}
  %div.image
    %img{:src => "//placehold.it/200x200"}
  %div.content
    %h3.header.card-title= lorem.sentence
    %div.meta
      Owner: 
      %span.owner.card-owner= lorem.name
    %div.description.card-labels
      %div.ui.red.label= lorem.word
  %div.content
    %h4.ui.sub.header Description
    %div.card-description
      %p= lorem.sentences 6
  %button.ui.bottom.attached.green.button.fund-me{:type => "submit"}
    %i.shop.icon
    Fund Me
