%div.ui.fluid.search.selection.dropdown
  %input{:type => "hidden", :name => "country"}
  %i.dropdown.icon
  %div.default.text Select Country
  %div.menu
    %div.item(data-value = "af")
      %i.af.flag
      Afghanistan
    %div.item(data-value = "ax")
      %i.ax.flag
      Aland Islands
    %div.item(data-value = "al")
      %i.al.flag
      Albania
    %div.item(data-value = "dz")
      %i.dz.flag
      Algeria
    %div.item(data-value = "as")
      %i.as.flag
      American Samoa
    %div.item(data-value = "ad")
      %i.ad.flag
      Andorra
    %div.item(data-value = "ao")
      %i.ao.flag
      Angola
    %div.item(data-value = "ai")
      %i.ai.flag
      Anguilla
    %div.item(data-value = "ag")
      %i.ag.flag
      Antigua
    %div.item(data-value = "ar")
      %i.ar.flag
      Argentina
    %div.item(data-value = "am")
      %i.am.flag
      Armenia
    %div.item(data-value = "aw")
      %i.aw.flag
      Aruba
    %div.item(data-value = "au")
      %i.au.flag
      Australia
    %div.item(data-value = "at")
      %i.at.flag
      Austria
    %div.item(data-value = "az")
      %i.az.flag
      Azerbaijan
    %div.item(data-value = "bs")
      %i.bs.flag
      Bahamas
    %div.item(data-value = "bh")
      %i.bh.flag
      Bahrain
    %div.item(data-value = "bd")
      %i.bd.flag
      Bangladesh
    %div.item(data-value = "bb")
      %i.bb.flag
      Barbados
    %div.item(data-value = "by")
      %i.by.flag
      Belarus
    %div.item(data-value = "be")
      %i.be.flag
      Belgium
    %div.item(data-value = "bz")
      %i.bz.flag
      Belize
    %div.item(data-value = "bj")
      %i.bj.flag
      Benin
    %div.item(data-value = "bm")
      %i.bm.flag
      Bermuda
    %div.item(data-value = "bt")
      %i.bt.flag
      Bhutan
    %div.item(data-value = "bo")
      %i.bo.flag
      Bolivia
    %div.item(data-value = "ba")
      %i.ba.flag
      Bosnia
    %div.item(data-value = "bw")
      %i.bw.flag
      Botswana
    %div.item(data-value = "bv")
      %i.bv.flag
      Bouvet Island
    %div.item(data-value = "br")
      %i.br.flag
      Brazil
    %div.item(data-value = "vg")
      %i.vg.flag
      British Virgin Islands
    %div.item(data-value = "bn")
      %i.bn.flag
      Brunei
    %div.item(data-value = "bg")
      %i.bg.flag
      Bulgaria
    %div.item(data-value = "bf")
      %i.bf.flag
      Burkina Faso
    %div.item(data-value = "ar")
      %i.ar.flag
      Burma
    %div.item(data-value = "bi")
      %i.bi.flag
      Burundi
    %div.item(data-value = "tc")
      %i.tc.flag
      Caicos Islands
    %div.item(data-value = "kh")
      %i.kh.flag
      Cambodia
    %div.item(data-value = "cm")
      %i.cm.flag
      Cameroon
    %div.item(data-value = "ca")
      %i.ca.flag
      Canada
    %div.item(data-value = "cv")
      %i.cv.flag
      Cape Verde
    %div.item(data-value = "ky")
      %i.ky.flag
      Cayman Islands
    %div.item(data-value = "cf")
      %i.cf.flag
      Central African Republic
    %div.item(data-value = "td")
      %i.td.flag
      Chad
    %div.item(data-value = "cl")
      %i.cl.flag
      Chile
    %div.item(data-value = "cn")
      %i.cn.flag
      China
    %div.item(data-value = "cx")
      %i.cx.flag
      Christmas Island
    %div.item(data-value = "cc")
      %i.cc.flag
      Cocos Islands
    %div.item(data-value = "co")
      %i.co.flag
      Colombia
    %div.item(data-value = "km")
      %i.km.flag
      Comoros
    %div.item(data-value = "cg")
      %i.cg.flag
      Congo Brazzaville
    %div.item(data-value = "cd")
      %i.cd.flag
      Congo
    %div.item(data-value = "ck")
      %i.ck.flag
      Cook Islands
    %div.item(data-value = "cr")
      %i.cr.flag
      Costa Rica
    %div.item(data-value = "ci")
      %i.ci.flag
      Cote Divoire
    %div.item(data-value = "hr")
      %i.hr.flag
      Croatia
    %div.item(data-value = "cu")
      %i.cu.flag
      Cuba
    %div.item(data-value = "cy")
      %i.cy.flag
      Cyprus
    %div.item(data-value = "cz")
      %i.cz.flag
      Czech Republic
    %div.item(data-value = "dk")
      %i.dk.flag
      Denmark
    %div.item(data-value = "dj")
      %i.dj.flag
      Djibouti
    %div.item(data-value = "dm")
      %i.dm.flag
      Dominica
    %div.item(data-value = "do")
      %i.do.flag
      Dominican Republic
    %div.item(data-value = "ec")
      %i.ec.flag
      Ecuador
    %div.item(data-value = "eg")
      %i.eg.flag
      Egypt
    %div.item(data-value = "sv")
      %i.sv.flag
      El Salvador
    %div.item(data-value = "gb")
      %i.gb.flag
      England
    %div.item(data-value = "gq")
      %i.gq.flag
      Equatorial Guinea
    %div.item(data-value = "er")
      %i.er.flag
      Eritrea
    %div.item(data-value = "ee")
      %i.ee.flag
      Estonia
    %div.item(data-value = "et")
      %i.et.flag
      Ethiopia
    %div.item(data-value = "eu")
      %i.eu.flag
      European Union
    %div.item(data-value = "fk")
      %i.fk.flag
      Falkland Islands
    %div.item(data-value = "fo")
      %i.fo.flag
      Faroe Islands
    %div.item(data-value = "fj")
      %i.fj.flag
      Fiji
    %div.item(data-value = "fi")
      %i.fi.flag
      Finland
    %div.item(data-value = "fr")
      %i.fr.flag
      France
    %div.item(data-value = "gf")
      %i.gf.flag
      French Guiana
    %div.item(data-value = "pf")
      %i.pf.flag
      French Polynesia
    %div.item(data-value = "tf")
      %i.tf.flag
      French Territories
    %div.item(data-value = "ga")
      %i.ga.flag
      Gabon
    %div.item(data-value = "gm")
      %i.gm.flag
      Gambia
    %div.item(data-value = "ge")
      %i.ge.flag
      Georgia
    %div.item(data-value = "de")
      %i.de.flag
      Germany
    %div.item(data-value = "gh")
      %i.gh.flag
      Ghana
    %div.item(data-value = "gi")
      %i.gi.flag
      Gibraltar
    %div.item(data-value = "gr")
      %i.gr.flag
      Greece
    %div.item(data-value = "gl")
      %i.gl.flag
      Greenland
    %div.item(data-value = "gd")
      %i.gd.flag
      Grenada
    %div.item(data-value = "gp")
      %i.gp.flag
      Guadeloupe
    %div.item(data-value = "gu")
      %i.gu.flag
      Guam
    %div.item(data-value = "gt")
      %i.gt.flag
      Guatemala
    %div.item(data-value = "gw")
      %i.gw.flag
      Guinea-Bissau
    %div.item(data-value = "gn")
      %i.gn.flag
      Guinea
    %div.item(data-value = "gy")
      %i.gy.flag
      Guyana
    %div.item(data-value = "ht")
      %i.ht.flag
      Haiti
    %div.item(data-value = "hm")
      %i.hm.flag
      Heard Island
    %div.item(data-value = "hn")
      %i.hn.flag
      Honduras
    %div.item(data-value = "hk")
      %i.hk.flag
      Hong Kong
    %div.item(data-value = "hu")
      %i.hu.flag
      Hungary
    %div.item(data-value = "is")
      %i.is.flag
      Iceland
    %div.item(data-value = "in")
      %i.in.flag
      India
    %div.item(data-value = "io")
      %i.io.flag
      Indian Ocean Territory
    %div.item(data-value = "id")
      %i.id.flag
      Indonesia
    %div.item(data-value = "ir")
      %i.ir.flag
      Iran
    %div.item(data-value = "iq")
      %i.iq.flag
      Iraq
    %div.item(data-value = "ie")
      %i.ie.flag
      Ireland
    %div.item(data-value = "il")
      %i.il.flag
      Israel
    %div.item(data-value = "it")
      %i.it.flag
      Italy
    %div.item(data-value = "jm")
      %i.jm.flag
      Jamaica
    %div.item(data-value = "jp")
      %i.jp.flag
      Japan
    %div.item(data-value = "jo")
      %i.jo.flag
      Jordan
    %div.item(data-value = "kz")
      %i.kz.flag
      Kazakhstan
    %div.item(data-value = "ke")
      %i.ke.flag
      Kenya
    %div.item(data-value = "ki")
      %i.ki.flag
      Kiribati
    %div.item(data-value = "kw")
      %i.kw.flag
      Kuwait
    %div.item(data-value = "kg")
      %i.kg.flag
      Kyrgyzstan
    %div.item(data-value = "la")
      %i.la.flag
      Laos
    %div.item(data-value = "lv")
      %i.lv.flag
      Latvia
    %div.item(data-value = "lb")
      %i.lb.flag
      Lebanon
    %div.item(data-value = "ls")
      %i.ls.flag
      Lesotho
    %div.item(data-value = "lr")
      %i.lr.flag
      Liberia
    %div.item(data-value = "ly")
      %i.ly.flag
      Libya
    %div.item(data-value = "li")
      %i.li.flag
      Liechtenstein
    %div.item(data-value = "lt")
      %i.lt.flag
      Lithuania
    %div.item(data-value = "lu")
      %i.lu.flag
      Luxembourg
    %div.item(data-value = "mo")
      %i.mo.flag
      Macau
    %div.item(data-value = "mk")
      %i.mk.flag
      Macedonia
    %div.item(data-value = "mg")
      %i.mg.flag
      Madagascar
    %div.item(data-value = "mw")
      %i.mw.flag
      Malawi
    %div.item(data-value = "my")
      %i.my.flag
      Malaysia
    %div.item(data-value = "mv")
      %i.mv.flag
      Maldives
    %div.item(data-value = "ml")
      %i.ml.flag
      Mali
    %div.item(data-value = "mt")
      %i.mt.flag
      Malta
    %div.item(data-value = "mh")
      %i.mh.flag
      Marshall Islands
    %div.item(data-value = "mq")
      %i.mq.flag
      Martinique
    %div.item(data-value = "mr")
      %i.mr.flag
      Mauritania
    %div.item(data-value = "mu")
      %i.mu.flag
      Mauritius
    %div.item(data-value = "yt")
      %i.yt.flag
      Mayotte
    %div.item(data-value = "mx")
      %i.mx.flag
      Mexico
    %div.item(data-value = "fm")
      %i.fm.flag
      Micronesia
    %div.item(data-value = "md")
      %i.md.flag
      Moldova
    %div.item(data-value = "mc")
      %i.mc.flag
      Monaco
    %div.item(data-value = "mn")
      %i.mn.flag
      Mongolia
    %div.item(data-value = "me")
      %i.me.flag
      Montenegro
    %div.item(data-value = "ms")
      %i.ms.flag
      Montserrat
    %div.item(data-value = "ma")
      %i.ma.flag
      Morocco
    %div.item(data-value = "mz")
      %i.mz.flag
      Mozambique
    %div.item(data-value = "na")
      %i.na.flag
      Namibia
    %div.item(data-value = "nr")
      %i.nr.flag
      Nauru
    %div.item(data-value = "np")
      %i.np.flag
      Nepal
    %div.item(data-value = "an")
      %i.an.flag
      Netherlands Antilles
    %div.item(data-value = "nl")
      %i.nl.flag
      Netherlands
    %div.item(data-value = "nc")
      %i.nc.flag
      New Caledonia
    %div.item(data-value = "pg")
      %i.pg.flag
      New Guinea
    %div.item(data-value = "nz")
      %i.nz.flag
      New Zealand
    %div.item(data-value = "ni")
      %i.ni.flag
      Nicaragua
    %div.item(data-value = "ne")
      %i.ne.flag
      Niger
    %div.item(data-value = "ng")
      %i.ng.flag
      Nigeria
    %div.item(data-value = "nu")
      %i.nu.flag
      Niue
    %div.item(data-value = "nf")
      %i.nf.flag
      Norfolk Island
    %div.item(data-value = "kp")
      %i.kp.flag
      North Korea
    %div.item(data-value = "mp")
      %i.mp.flag
      Northern Mariana Islands
    %div.item(data-value = "no")
      %i.no.flag
      Norway
    %div.item(data-value = "om")
      %i.om.flag
      Oman
    %div.item(data-value = "pk")
      %i.pk.flag
      Pakistan
    %div.item(data-value = "pw")
      %i.pw.flag
      Palau
    %div.item(data-value = "ps")
      %i.ps.flag
      Palestine
    %div.item(data-value = "pa")
      %i.pa.flag
      Panama
    %div.item(data-value = "py")
      %i.py.flag
      Paraguay
    %div.item(data-value = "pe")
      %i.pe.flag
      Peru
    %div.item(data-value = "ph")
      %i.ph.flag
      Philippines
    %div.item(data-value = "pn")
      %i.pn.flag
      Pitcairn Islands
    %div.item(data-value = "pl")
      %i.pl.flag
      Poland
    %div.item(data-value = "pt")
      %i.pt.flag
      Portugal
    %div.item(data-value = "pr")
      %i.pr.flag
      Puerto Rico
    %div.item(data-value = "qa")
      %i.qa.flag
      Qatar
    %div.item(data-value = "re")
      %i.re.flag
      Reunion
    %div.item(data-value = "ro")
      %i.ro.flag
      Romania
    %div.item(data-value = "ru")
      %i.ru.flag
      Russia
    %div.item(data-value = "rw")
      %i.rw.flag
      Rwanda
    %div.item(data-value = "sh")
      %i.sh.flag
      Saint Helena
    %div.item(data-value = "kn")
      %i.kn.flag
      Saint Kitts and Nevis
    %div.item(data-value = "lc")
      %i.lc.flag
      Saint Lucia
    %div.item(data-value = "pm")
      %i.pm.flag
      Saint Pierre
    %div.item(data-value = "vc")
      %i.vc.flag
      Saint Vincent
    %div.item(data-value = "ws")
      %i.ws.flag
      Samoa
    %div.item(data-value = "sm")
      %i.sm.flag
      San Marino
    %div.item(data-value = "gs")
      %i.gs.flag
      Sandwich Islands
    %div.item(data-value = "st")
      %i.st.flag
      Sao Tome
    %div.item(data-value = "sa")
      %i.sa.flag
      Saudi Arabia
    %div.item(data-value = "sn")
      %i.sn.flag
      Senegal
    %div.item(data-value = "cs")
      %i.cs.flag
      Serbia
    %div.item(data-value = "rs")
      %i.rs.flag
      Serbia
    %div.item(data-value = "sc")
      %i.sc.flag
      Seychelles
    %div.item(data-value = "sl")
      %i.sl.flag
      Sierra Leone
    %div.item(data-value = "sg")
      %i.sg.flag
      Singapore
    %div.item(data-value = "sk")
      %i.sk.flag
      Slovakia
    %div.item(data-value = "si")
      %i.si.flag
      Slovenia
    %div.item(data-value = "sb")
      %i.sb.flag
      Solomon Islands
    %div.item(data-value = "so")
      %i.so.flag
      Somalia
    %div.item(data-value = "za")
      %i.za.flag
      South Africa
    %div.item(data-value = "kr")
      %i.kr.flag
      South Korea
    %div.item(data-value = "es")
      %i.es.flag
      Spain
    %div.item(data-value = "lk")
      %i.lk.flag
      Sri Lanka
    %div.item(data-value = "sd")
      %i.sd.flag
      Sudan
    %div.item(data-value = "sr")
      %i.sr.flag
      Suriname
    %div.item(data-value = "sj")
      %i.sj.flag
      Svalbard
    %div.item(data-value = "sz")
      %i.sz.flag
      Swaziland
    %div.item(data-value = "se")
      %i.se.flag
      Sweden
    %div.item(data-value = "ch")
      %i.ch.flag
      Switzerland
    %div.item(data-value = "sy")
      %i.sy.flag
      Syria
    %div.item(data-value = "tw")
      %i.tw.flag
      Taiwan
    %div.item(data-value = "tj")
      %i.tj.flag
      Tajikistan
    %div.item(data-value = "tz")
      %i.tz.flag
      Tanzania
    %div.item(data-value = "th")
      %i.th.flag
      Thailand
    %div.item(data-value = "tl")
      %i.tl.flag
      Timorleste
    %div.item(data-value = "tg")
      %i.tg.flag
      Togo
    %div.item(data-value = "tk")
      %i.tk.flag
      Tokelau
    %div.item(data-value = "to")
      %i.to.flag
      Tonga
    %div.item(data-value = "tt")
      %i.tt.flag
      Trinidad
    %div.item(data-value = "tn")
      %i.tn.flag
      Tunisia
    %div.item(data-value = "tr")
      %i.tr.flag
      Turkey
    %div.item(data-value = "tm")
      %i.tm.flag
      Turkmenistan
    %div.item(data-value = "tv")
      %i.tv.flag
      Tuvalu
    %div.item(data-value = "ug")
      %i.ug.flag
      Uganda
    %div.item(data-value = "ua")
      %i.ua.flag
      Ukraine
    %div.item(data-value = "ae")
      %i.ae.flag
      United Arab Emirates
    %div.item(data-value = "us")
      %i.us.flag
      United States
    %div.item(data-value = "uy")
      %i.uy.flag
      Uruguay
    %div.item(data-value = "um")
      %i.um.flag
      Us Minor Islands
    %div.item(data-value = "vi")
      %i.vi.flag
      Us Virgin Islands
    %div.item(data-value = "uz")
      %i.uz.flag
      Uzbekistan
    %div.item(data-value = "vu")
      %i.vu.flag
      Vanuatu
    %div.item(data-value = "va")
      %i.va.flag
      Vatican City
    %div.item(data-value = "ve")
      %i.ve.flag
      Venezuela
    %div.item(data-value = "vn")
      %i.vn.flag
      Vietnam
    %div.item(data-value = "wf")
      %i.wf.flag
      Wallis and Futuna
    %div.item(data-value = "eh")
      %i.eh.flag
      Western Sahara
    %div.item(data-value = "ye")
      %i.ye.flag
      Yemen
    %div.item(data-value = "zm")
      %i.zm.flag
      Zambia
    %div.item(data-value = "zw")
      %i.zw.flag
      Zimbabwe
