%form.item{action: "/checkout/", method: "POST", data: {id: "card-model"}}
  %input{type: "hidden", value: "trelloIdString", data: {id: "card-model-trello-id"}}
  %div.image
    %img{src: "//placehold.it/200x200", data: {id: "card-model-image"}}
  %div.content
    %h3.header.card-title{data: {id:  "card-model-title"}}
      = lorem.sentence
    %div.meta
      %span.owner.card-owner{data: {id: "card-model-owner"}}
        = lorem.name
      %div.ui.red.label{data: {id: "card-model-label"}}
        = lorem.word
    %div.description.card-description{data: {id: "card-model-content"}}
      %p= lorem.sentences 6
    %div.extra
      %a.ui.right.floated.basic.button{href: "#", target: "_blank", data: {id: "card-model-trello-link"}}
        View on Trello
      %button.ui.right.floated.green.button.fund-me{type: "submit", data: {id: "card-model-submit"}}
        Fund Me
