---
title: Card Index | Nebula Bio
page_id: card-index
layout: app
page_classes: app
---

%h2 Projects that currently need funding

%div.ui.segment
  %div.ui.divided.items{data: {id: "card-listing"}}
    - 4.times do
      = partial "card"
