---
layout: base
page_id: index
---

%div#page.ui.four.column.doubling.grid.container
  %div#masthead
    %img.logo{:src => "/images/logo-white.png"}
    %h2 Open Source Biotech
    %div#links
      %a{:target => "_blank", :href => "https://github.com/nebulabio"}
        %i.huge.github.icon
      %a{:target => "_blank", :href => "https://trello.com/b/Tb4b74V5/protochip"}
        %i.huge.trello.icon
      %a{:target => "_blank", :href => "http://nebulabio.tumblr.com"}
        %i.huge.tumblr.icon
  %div#content
    :markdown 
      **We are creating a suite of open source medical devices, designed with the _user_ in mind first.**

      We believe that medicine should be used to improve the human condition, and to a large extent modern medicine
      excels at this. However, medical technology has been falling behind computer technology. Medicine is plagued by
      excessive regulations, opaque art, outlandishly-high costs, and other barriers to entry.
      
      The solution is not a new gadget, but more openness. [Love, internet style.](https://www.youtube.com/watch?v=Xe1TZaElTAs)
      World-changing technology can only be developed when we share our work. That's why the engineers at Nebula share all of
      our work with the world. Just click on the links to the left to see for yourself.
      
      At Nebula Bio, we are developing medical devices that not only make you healthier, but they help you *learn* about your 
      health. You own your health data, and you choose what to do with it. Healthcare freedom.
    %a.btn(href = "/c")
      %button.huge.ui.button Join Us
