= wrap_layout :base do
  %div.ui.blue.inverted.fixed.main.stackable.menu
    %a.item(href = "/")
      %img(src = "/images/symbol-white.png")
    %a.item(href = "/c") Projects
    %div.right.menu
      %a.item(href = "https://github.com/nebulabio/protochip") GitHub
      %a.item(href = "https://wiki.github.com/nebulabio/protochip") Wiki
      %a.item(href = "https://trello.com/b/Tb4b74V5/protochip") Trello
  %div.ui.container
    = yield
