/* line 1, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
body#index {
  background-color: #5383c6;
  color: #fff; }
  /* line 6, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
  body#index #page {
    line-height: 2em;
    font-size: 1.2rem;
    flex-wrap: wrap;
    max-width: 80em;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto; }
    /* line 17, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
    body#index #page div {
      margin: 2em, 1em; }
  /* line 20, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
  body#index #masthead {
    text-align: center; }
    /* line 22, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
    body#index #masthead #links a, body#index #masthead #links a:hover {
      margin: 2em, 1em;
      border: none; }
  /* line 29, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
  body#index #content {
    padding: 2em 1em;
    max-width: 45em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    postion: relative; }
  /* line 39, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
  body#index a {
    border-bottom: 2px solid #8cacd9;
    color: #fff; }
    /* line 43, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
    body#index a:hover {
      border-color: #fee18b; }
    /* line 46, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
    body#index a.btn {
      border: none; }

/* line 51, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
body.app {
  background-color: #eee; }
  /* line 53, /home/bsima/workspace/nebula/www/resources/assets/source/stylesheets/all.css.scss */
  body.app .container {
    background-color: #eee;
    margin-top: 7em; }
